.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr 1fr;
    @media (max-width: 640px) {
        display: inline-block;
    }

    &__item {
        font-size: 150%;
        @media (max-width: 640px) {
            margin-bottom: 10px;
        }
        &__1 {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
        &__4 {
            grid-column: 2 / 4;
            grid-row: 2;
        }
    }
}
